   <div id="sidebar">
        <div class="filter_row">
          <div class="filter_div">
            <div class="filter">
              <div class="filter-title"> Filter By <i class="fa fa-filter" aria-hidden="true"></i>
              </div>
              <div class="filter-body">
                <div id="main">
                  <div class="filtereaccordion" id="filter">
                    <div class="card">
                      <div class="card-header" id="faqhead1">
                        <a href="#" class="filter-link" data-toggle="collapse" data-target="#time-period" aria-expanded="true" aria-controls="time-period"> Time Period</a>
                      </div>
                      <div id="time-period" class="collapse show" aria-labelledby="faqhead1" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input class="time-period" type="checkbox" value="1 Hours"> 1 Hours
                            </li>
                            <li>
                              <input class="time-period" type="checkbox" value="2 Hours"> 2 Hours
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="filter2">
                        <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Sector" aria-expanded="true" aria-controls="Sector">Sector</a>
                      </div>
                      <div id="Sector" class="collapse" aria-labelledby="filter2" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input class="sector" type="checkbox" value="1 sector"> 1 Sector
                            </li>
                            <li>
                              <input class="sector" type="checkbox" value="1 sector"> 2 Sector
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="filter3">
                        <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#State" aria-expanded="true" aria-controls="State">State</a>
                      </div>
                      <div id="State" class="collapse" aria-labelledby="filter3" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input class="state" type="checkbox" value="1 state"> 1 State
                            </li>
                            <li>
                              <input class="state" type="checkbox" value="2 state"> 2 State
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="filter4">
                        <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Country" aria-expanded="true" aria-controls="Country">Country</a>
                      </div>
                      <div id="Country" class="collapse" aria-labelledby="filter4" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input class="country" type="checkbox" value="1_country"> 1 Country
                            </li>
                            <li>
                              <input class="country" type="checkbox" value="1_country"> 2 Country
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="filter5">
                        <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#age" aria-expanded="true" aria-controls="age">Age</a>
                      </div>
                      <div id="age" class="collapse" aria-labelledby="filter5" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input class="age" type="checkbox" value="18 to 29"> 18 to 29
                            </li>
                            <li>
                              <input class="age" type="checkbox" value="30 to 45"> 30 to 45
                            </li>
                            <li>
                              <input class="age" type="checkbox" value="50 to >"> 50 to >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="filter5">
                        <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Gender" aria-expanded="true" aria-controls="Gender">Gender</a>
                      </div>
                      <div id="Gender" class="collapse" aria-labelledby="filter5" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input type="radio"> Men
                            </li>
                            <li>
                              <input type="radio"> Female
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="filter6">
                        <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Registration" aria-expanded="true" aria-controls="Registration">Registration at</a>
                      </div>
                      <div id="Registration" class="collapse" aria-labelledby="filter6" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input type="checkbox"> 1 Registration
                            </li>
                            <li>
                              <input type="checkbox"> 2 Registration
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="filter7">
                        <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#ForeginWorker" aria-expanded="true" aria-controls="ForeginWorker">Foregin Worker Type</a>
                      </div>
                      <div id="ForeginWorker" class="collapse" aria-labelledby="filter7" data-parent="#filter">
                        <div class="card-body">
                          <ul class="subment-li">
                            <li>
                              <input type="checkbox"> 1 Foregin Worker
                            </li>
                            <li>
                              <input type="checkbox"> 2 Foregin Worker
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <ul class="list"><li>
        Time Period</li><li>Sector</li><li>State</li><li>Country</li><li>Age</li><li>Gender</li><li>Registration at</li><li>Foregin Worker Type</li></ul> -->
              </div>
            </div>
            <div class="filter">
              <div class="filter-title"> Export <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              </div>
              <div class="filter-body">
                <ul class="subment-li">
                  <li>
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 
                      <a href="/generate_pdf"> Pdf File</a>
                  </li>
                  <li>
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/generate_excel"> Excel File</a>
                  </li>
                </ul>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>