    <div class="lab_widget">
                    <ul class="li_list">
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Fw Went for Medical Eximation </p>
                            <span> 843858 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Certificaion </p>
                            <span> 813168 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Final Result Released </p>
                            <span> 805079 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Xray Film Pending Review </p>
                            <span> 2618 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Xray Film Received by Xqcc </p>
                            <span> 806917 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Xray Film Revied </p>
                            <span> 799375 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Result Tranmitted to Immigration </p>
                            <span> 802352 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Block FW </p>
                            <span> 2727 </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Appeal </p>
                            <span> 15068 </span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>