 @import url('https://fonts.cdnfonts.com/css/fontawesome');
 .login-block{background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0);
width: 100%;
position: relative;
height: 100vh;}
.login-sec {
    position: absolute;
    width: 350px;
    height: 350px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}
.login-logo {
    text-align: center;
    height: 70px;
}
.login-logo>img{
    width: 150px;
    
}
.sign-up {
    font-size: 12px;
    text-align: right;
}