p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--main-gray);
}
dl, ol, ul,ul li,ol li{
  padding: 0px;
  margin: 0px;
  list-style:none;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

html,body { 
    width: 100%;
    padding: 0px;
    margin: 0px;
	height: 100%; 
}
.header>nav{
background-color: #fff;
border-bottom: solid 1px #c2c2c2;
}
.header>nav>.admin-logo {
    width: 150px;
    float: left;
} 
.header>nav>.admin-logo>img{
    width: 100%;

}
.admin-name {
    border: solid 1px #c2c2c2;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}
.admin-name>span {
    font-size: 14px;
    color: #333333;
    padding-left: 15px;
}
    .img-profile {
        height: 2rem;
        width: 2rem;
        float: right;
        margin-top: -7px;
    }
    .nav-title {
        font-size: 15px;
        margin: 0px 30px;
    }
    .nav-title>span {
         font-size: 12px;
    margin: 0px 2px;
    color: #bf1f3e;
    font-weight: bold;
}
    .nav-title>h1 {
        font-size: 22px;
        color: #0e7dc1;
        margin: 0;
    }
    .chard-card>.card>.card-header {
        font-weight: 500;
    }
    ul.filter>li {
    display: inline-block;
    margin: 0px 0px;
    }
    .mobile-filter>li, .mobile-filter {
    width: auto;
    float: left;
    }
    .month-filter>.form-group{
    margin: 0px;
    }
    .dashboard-body{
    float: left;
    width: 100%;
    }
    .filter-div {
    float: left;
    width: 100%;
    padding: 8px 0px;
    border-bottom: solid 1px #d4d4d4;
    background: #f0f0f0;
    }

    .form-control{
        font-size: 14px;
    }
    .filter-title>i {
        float: right;
        margin-top: 8px;
        font-size: 12px;
        color: #0e7dc1;
    }
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        background: #F5F9FC;
    }
    
    #sidebar {
        min-width: 220px;
        max-width: 220px;
        transition: all 0.3s;
        padding:0px 8px 20px 8px;
        margin-left: -220px;

    }
    
    #sidebar.active {
        margin-left: 0px;
    }
      
    
    #content {
        width: 100%;
        /* min-height: 100vh; */
        transition: all 0.3s;
    }
    .noscrolbar {
        /* height: calc(100vh - 10%); */
        overflow-y: clip;
    }
  
    /* filter */
    .filter_div {
        width: 100%;
        float: left;
        background: #e9f5fc;
        margin: 11px 2px;
    }
    .filter {
        margin-bottom: 14px;
        width: auto;
        float: right;
    }
    .filter-title {
        font-size: 15px;
        padding: 0px 10px;
        line-height: 30px;
        background: #c5deee;
    }
    .filter-body {
        float: left;
        width: 100%;
    }
    .filtereaccordion>.card {
        border-radius: 0px;
        border: none;
    }
    .filtereaccordion>.card>.card-header {
        padding: 0px;
        border-bottom: dotted 1px #c2c2c2;
        background: #e9f5fc;
        border-radius: 0px;
        padding: 0.2rem 0.2rem;
    }
    .filtereaccordion>.card>.show>.card-body {
        padding: 0px;
    }
    .subment-li {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .subment-li>li:last-child {
        border-bottom: none;
    }
    .subment-li>li {
        padding: 10px;
        margin: 0px;
        font-size: 13px;
        border-bottom: dotted 1px #c2c2c2;
    }
    .form-group {
        padding: 5px;
        margin: 0px;
        MARGIN-BOTTOM: 0!important;
    }
    .filtereaccordion>.card>.card-header>a {
        font-size: 13px;
    }
    .filter-link {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #222;
        padding: 5px 10px;
        width: 100%;
        float: left;
    }
    .filter-btn {
        width: 100%;
        float: left;
        text-align: center;
        padding: 0px 10px;
        margin-top: 10px;
    }
    .filter-btn>.btn-apply {
        background: #76add0;
        color: #fff;
    }
    .filter-btn>.btn-refresh {
        background: #c94242;
        color: #fff;
    }
    .filter-btn>.btn-refresh,.filter-btn>.btn-clear, .filter-btn>.btn-apply {
        border-radius: 6px;
        border: solid 1px #c2c2c2;
        font-size: 14px;
        padding: 5px 10px;
        margin: 0px 5px;
    }
    .filter-btn>.btn-clear, .filter-btn>.btn-apply {
        border-radius: 6px;
        border: solid 1px #c2c2c2;
        font-size: 14px;
        padding: 5px 10px;
        margin: 0px 0px;
    }
    .filtereaccordion>.card>.card-header>a:hover {
        font-size: 13px;
        text-decoration: none;
    }
    
    .filtereaccordion>.card>.card-header>a {
        font-size: 13px;
    }
    .tags {
        width: 100%;
        float: left;
        background: #ddd;
        border: solid 1px #dcdcdc;
        padding: 7px;
        border-radius: 6px;
        /* margin-top: 10px; */
    
    }
    .tags>span {
        background: #489cd0e6;
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        padding: 4px 10px;
        margin: 0px 2px;
        border-radius: 11px;
        float: left;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
    /* .chard-card>.card{
        box-shadow: 0px 1px 5px 0px rgb(105 101 105 / 33%);

    } */
    /* dashboard 1 */
    .sub-ulcard {
 
        float: left;
        width: 100%;
    }
    .filter-content {
        float: right;
    padding: 0px 0px;
    margin: 4px 0px;
    width: 100%;
}

    .filter-li>span {
    background: #fff;
    border: solid 1px #0e7dc1;
    border-radius: 20px;
    padding: 5px 10px 5px 4px;
    margin: 0px 4px;
    float: left;
    font-size: 12px;
}
.filter-li{
/* width: 26%; */
float: right;
}
.filter-li>span>b{
    background: #0e7dc1;
    width: 20px;
    height: 20px;
    float: left;
    text-align: center;
    border-radius: 50%;
    text-align: center;
    color: #fff;}
    .filter-li>span>b>i {
    text-align: center;
}
    .tx-numeric {
    color: #383838;
    text-align: center;
    border-bottom: solid 1px #c2c2c2;
    margin: 0;
    padding: 5px 0px;
    width: 100%;
}   
.card-scroll {
    height: 448px;
    overflow-y: auto;
}

 
.card-filter>.dropleft>.dropdown-menu {
    height: 235px;
    overflow-y: auto;
}
  .tx-numeric>span{
    margin-bottom: 0;
    float: left;
    width: 100%;
    text-align: center;
    font-size:10px
    }
    .tx-numeric>b {
    font-size: 14px;
    float: left;
    width: 100%;
    text-align: center;
}
      
    
    .card-filter>.dropleft {
    display: block;
    width: 20px;
    line-height: 15px;
    text-align: center;
    right: 2px;
    margin-right: 0px;
    background: #279be4;
    position: absolute;
    top: 2px;
    color: #fff;
    height: 18px;
    font-size: 14px;
}
    .bg-gray{
        background-color: #ebebeb;
    }
    .card-header>i {
    color: #3366cc;
    float: right;
    line-height: 20px;
}
    ul.sub-ulcard>li {
    font-size: 12px;
}
.sub-licard-header>span:last-child{
    float: right;
    font-weight: bold;
    padding: 0px 7px 0px 0px;
    width: 24%;
}
.sub-licard-header {
    float: left;
    width: 100%;
    background: #c5deee;
    line-height: 26px;
    padding: 0px 8px;
    margin-top: 12px;
}
.sub-licard-body {
    float: left;
    width: 100%;
    border-bottom: dotted 1px #c2c2c2;
    padding: 6px 5px;
}
.sub-licard-body>span:first-child{
    width: 72%;
    float: left;
}
.sub-licard-body>span:last-child{
    font-weight: 500;
    width: 25%;
    float: right;
}
     .listcard-box{float: left;
    width: 100%;}
    .card-analytics-two .card-header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    color: #06072d;
    line-height: 1;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
} 
.list-group-item {
    padding: 8px;
        border-color: rgba(230, 231, 239, 0.85);
    box-shadow: 2px 2px 5px 0 rgba(60, 70, 83, 0.04);
} 

.list-group-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    font-size: 16px;
    float: left;
    margin-top: 7px;
    border-radius: 100%;
}
.list-body {
    float: left;
    width: 65%;
    font-size: 14px;
}.list-body>h6 {
    font-weight: 400;
    font-size: 12px;
    margin: 0px 7px;
 
    padding-top:11px;
}
.list-visit {
    float: right;
    width: 25%;
    font-size: 13px;
    padding-top: 8px;
    font-weight: bold;
}
.tx-white {
    color: #fff;
}
.circle1{
    background-color:#0049fe
}
.circle2{
    background-color:#fcb600
}
.circle3{
    background-color: #4caf50;
}
.circle4{
    background-color:#fc8801
}
.circle5{
    background-color:#be1f3d
}
.circle6{
    background-color:#385feb
}
.circle7{
    background-color:#b613c4
}
.circle8{
    background-color:#d52a5e
}
.circle9{
    background-color:#10ded2
}
  
.card-header {
    padding: 0.4rem 1.25rem;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
    background-color: rgb(197 222 238);
    border-bottom: 1px solid rgb(0 0 0 / 0%);
}
.pending-box {
    float: left;
    font-size: 14px;
    width: 100%;
}
.pending-box>span {
    width: auto;
    float: left;
    padding: 0px 23px;
    font-size: 13px;
}
.sidefilter>ul>li>span {
    width: 100%;
    float: left;
    background: #0e7dc1;
    color: #fff;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 22px;
}
.card-lifilter {
    float: left;
    width: 100%;
    background: #dbdbdb;
}
.card-lifilter>span {
    width: 100%;
    float: left;
    background: #6a6a6a;
    padding: 0px 6px;
    font-size: 13px;
    border-top: dotted 1px #c2c2c2;
    color: #fff;
    line-height: 22px;
}
.card-lifilter>ul, .sidefilter>ul {
    padding: 0;
    list-style: none;
}
.card-lifilter>ul>li>a {
    border-bottom: dotted 1px #ff9090;
    padding: 3px 5px;
    line-height: 22px;
    font-size: 13px;
}
.card-lifilter>ul>li>a>input {
    margin: 0px 5px;
}
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}
.chartjs-render-monitor{animation:chartjs-render-animation 1ms}
.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}
.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}
.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
    /* dashboard 2 */
    
  #div_district10:hover,#div_district9:hover,#div_district8:hover,#div_district7:hover,#div_district6:hover,#div_district5:hover,#div_district4:hover,#div_district3:hover,#div_district2:hover,#div_district11:hover,#div_district13:hover,#div_district1:hover{
    fill:#a48059!important;
  
}
#div_district11:hover::after,#div_district10:hover::after,#div_district9:hover::after,#div_district8:hover::after,#div_district7:hover::after,#div_district6:hover::after,#div_district5:hover::after,#div_district4:hover::after,#div_district3:hover::after,#div_district2:hover::after,#div_district1:hover::after{
    font-family: "FontAwesome";
    content: "\f041";
    font-size: 15px;
}


.map-icon {
width: 30px;
}
.icon_Kuantan,.icon_Jerantut,.icon_CameronHighlands,.icon_Lipis,.icon_Raub,.icon_Temerloh,.icon_Bentong,.icon_Maran,.icon_Pekan,.icon_Bera,.icon_Rompin {
position: absolute;
top: auto;

left: 0;
right: 0;
}
.icon_Temerloh {
margin-left: 240px;
bottom: 230px;
}
.icon_Kuantan {
    margin-left: 345px;
    bottom: 260px;
}
.icon_Jerantut {
    margin-left: 295px;
    bottom: 340px;
} 
.icon_Lipis {
    margin-left: 285px;
    bottom: 290px;
}
.icon_Lipis {
    margin-left: 215px;
    bottom: 350px;
} 
.icon_Raub {
    margin-left: 185px;
    bottom: 260px;
}
.icon_Bentong-Temerloh{margin-left: 445px;
    bottom: 100px;}
.icon_Rompin{margin-left:332px;
    bottom: 100px;}
    .icon_Pekan {
        margin-left: 359px;
        bottom: 188px;
    }
 
.icon_Maran {
    margin-left: 295px;
    bottom: 185px;
}
.icon_Bera{     margin-left: 275px;
    bottom: 130px;
}
.icon_CameronHighlands {
    margin-left: 145px;
    bottom: 350px;
}
.icon_Bentong {
    margin-left: 205px;
    bottom: 170px;
}
.map-icon>img{
    width: 100%;
}

.svg-content {
    float: left;
width: 100%;
margin-top: 0px;
padding: 0px 25px;}
.svg-map {
  float: left;
  width: 70%;
}
.svg-map>.sub-map{ 
position:relative;
}
.svg-map>.svg-map>svg{
  width: 100%;
}
.text-info1{
  float: right;
  width: 26%;
margin-top: 45px;
}
.svg-content {
float: left;
width: 100%;
margin-top: 0px;
padding: 0px 25px;
}
.div_statesvg{width: 100%;}
.close-btn {
  position: absolute;
  margin-top: 10px;
  right: 0;
  margin-right: 45px;
  color: white;
}
.map-title {
right: 0;
text-align: center;
font-size: 25px;
font-weight: bold;
color: #0e7dc1;
position: absolute;
width: 100%;
margin-top: 10px;
}
.map-title>img {
width: 35px;
}
.map{
    width: 100%;

}
.map>svg{
    margin-top: 30px;
}
.statediv{
right: 100px;
width: auto;
background: #d7d7d7;
height: 306px;
top: 50px;

}
.submap-title>h1 {
padding: 6px;
font-size: 16px;
background: #0e7dc1;
color: #fff;
margin: 0;
border-radius: 5px 5px 0px 0px;
}
.div_statesvg {
width: 100%;
}
.div_statesvg>ul {
padding: 0px;
margin: 0px;
}
.div_statesvg>ul>li {
list-style: none;
font-size: 13px;
float: left;
background: #efefef;
width: 100%;
border-bottom: dotted 1px #c2c2c2;
margin-bottom: 2px;
padding: 7px 10px;
}
.div_statesvg>ul>li>div:first-child {
width: 76%;
float: left;
margin-right: 5px;
font-size: 11px;
font-weight: 400;
}
.div_statesvg>ul>li>div:first-child>i {
float: left;
color: #bf1f3e;
margin: 0px 5px;
font-weight: 600;
margin-top: 4px;
}
.div_statesvg>ul>li>div:last-child {
font-weight: 800;
float: left;
}
/* dashboard 2 */
.card-body>.box {
    height: 120px;
    overflow-y: auto;
}
.svg-malasyamap>svg {
    width: 74%;
    float: left;
}
 
/* dashboard-3 */

.svg-cards>ul{
    padding: 0px;margin: 0px;
  }
  .svg-cards>ul>li {
    display: inline-block;
    list-style: none;
    float: left;
    text-align: center;
    height: calc(100vh - 350px);
  }
  .svg-cards>ul>li:first-child{
    background-color: #e6e7e8;
  }

  .svg-cards>ul>li:first-child{
      background-color: #e6e7e8;
      width: 22%;
  }
   
  .svg-cards>ul>li:nth-child(2){
      background:#c4d0dc;
      width: 24%;
  }
 
  .svg-cards>ul>li:nth-child(3){
    background: #e9e2ce;
      width: 15%;
  }.svg-cards>ul>li:nth-child(4) {
      background: #d5ba96;
      width: 19%;
  }
  .svg-cards>ul>li:nth-child(5){
    background: #cfdbe2;
    width: 19.8%;
  }
  .svg-cards>ul>li:nth-child(6){
    background: #6ec0c3;
      width: 17%;
  }
  .svg-cards>ul>li:nth-child(7){
    background: #f79537;
    width: 17%;
  }
  .svg-cards>ul>li:nth-child(8){
    background: #a99183;
    width: 21%;
  }
  .svg-cards>ul>li:nth-child(9){
    background:#d9e3e6;
    width: 22%;
  }
  .svg-cards>ul>li:nth-child(10){
    background: #e6f0f1;
    width: 23%;
  }
  .svg-title{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  cursor: pointer;
  } 
  .svg-cards>ul>li>.svg-title>img,.svg-cards>ul>li>img{
    float: left;
    order: 2;
  }
  .svg-cardtitle {
    font-size: 15px;
    /* top: 0px; */
    width: 100%;
    order: 1;
    left: 0;
    right: 0px;
    z-index: 111;
    font-weight: 500;
    color: #bf1f3e;
    line-height: 32px;

  }
 .Management-img {
    width: 87.8%;
    margin: 0 auto;

}
.capital-img {
    width: 52.6%!important;
    margin: 0 auto;
}
.finance-svg {
    width: 64.8%!important;
    text-align: center;
    margin: 0 auto;
}
 .regiopnal-img {
    width: 65.5%!important;
    margin: 0 auto;
}
.support-img {
    width: 83%!important;
    margin: 0 auto;
}
.laboratory-svg {
    width: 80%!important;
    margin: 0 auto;

}
.supportservice-img {
    width: 75%!important;
    margin: 0 auto;
}
 .inspectorate-img {
    width: 74.5%!important;
    margin: 0 auto;
}
.xray-img {
    width: 75%!important;
    margin: 0 auto;
}
img.Medical-img {
    width: 82%!important;
    margin: 0 auto;
}
.svg-count {
    order: 3;
    float: left;
    width: 100%;
    /* position: absolute; */
    margin-top: -40px;
    line-height: 39px;
    margin-left: -5px;
}
  .svg-count>span{
    background-color: #ffffff;
    border-radius: 355px;
    float: right;
    width: 45px;
    height: 45px;
    line-height: 34px;
    text-align: center;
    border: solid 5px #ff8080;
    font-size: 13px;
  }
  .table-data>tbody>tr:nth-child(odd) {
    background-color: #e9f7ff;
}
.thselect {
    background: transparent !important;
    border: none;
    font-size: 14px!important;
    font-weight: 700!important;
}
.table-data>thead>tr>th {
    font-size: 12px;
    background-color: #ececec;
    padding: 0px 10px;
    line-height: 30px;
}
.tabs-data>.sub-tabs>.nav-item>.active {
    background: #2f84b7;
    color: #fff;
}
.table-data>tbody>tr>td {
    font-size: 13px;
    line-height: 17px;
}
.modal-header{
    background-color: #bf2140;
    padding: 0.5rem 1rem;
}
.modal-header>h4{
    font-size: 18px;
    color: #fff;
}
.progress{
    width: 45px;
    height:45px;
    line-height: 45px;
    background: none;
float: right;
   box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4x solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 14px;
    color: 44484b;
    line-height: 38px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.red .progress-bar{
    border-color: red;
}
.progress.red .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
.nav-link {
    display: block;
    font-size: 13px;}
    .svgresult {
        text-align: center;
        color: #676666;
    }
    .card-link>span {
        float: right;
        width: 20%;
    }
    .dropdown-item>i {
        margin: 0px 5px 0px 0px;
        padding: 0px!important;
    }
      /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
    
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -220px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
        .noscrolbar{
            overflow-y: auto;

        }
        .nav-title{
            margin: 0px 0px;
        }
 
         .navbar-nav {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            flex-wrap: wrap-reverse;
        }
        .nav-title>h1 {
            font-size: 16px;
            color: #0e7dc1;
            margin: 0;
        }
        .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .text-info1 {
            float: right;
            width:100%;
            margin-top: 0px;
        }
        .text-info1 {
            float: right;
            width: 100%;
            height: auto;
            margin-top:50px;
        }
        .svg-malasyamap>svg {
            width: 100%;
            float: left;
        }
        .svg-malasyamap>.text-info1{
            float: right;
            width: 100%;
            height: 520px;
            margin-top: 0px;
        }
        .svg-cards>ul>li:nth-child(10),.svg-cards>ul>li:nth-child(9),.svg-cards>ul>li:nth-child(8),.svg-cards>ul>li:nth-child(7),.svg-cards>ul>li:nth-child(6),.svg-cards>ul>li:nth-child(5),.svg-cards>ul>li:nth-child(4),.svg-cards>ul>li:nth-child(3),.svg-cards>ul>li:nth-child(2),.svg-cards>ul>li:first-child {
            width: 100%;
        }
        .svg-title {
             display: flex;
            flex-direction: row;
         }
         .svg-cards>ul>li>.svg-title>img, .svg-cards>ul>li>img {
            order: 1;
        }
        .svg-cards>ul>li{
            height: auto;
        }
        .svg-count{
            margin-top: 0px;
    line-height: 0px;
    margin-left: 0px;
        }
        .Management-img {
            width: 170px!important;
            float: left;
            margin: auto;
        }

 .capital-img{
    width: 170px!important;
    float: left;
    margin: auto;
}
        .svg-cardtitle {
            order: 2;}
        .mobile-filter>li, .mobile-filter {
            width:auto;
            float: left;
            padding: 0px 6px;
        }
    }
    @media (max-width: 550px) {
        .mobile-filter>li, .mobile-filter {
            width: 100%;
            float: left;
            padding: 0px 6px;
        }
    }